streamlit
anthropic>=0.18.0
requests
beautifulsoup4
gspread
oauth2client
youtube-transcript-api
python-dotenv
pandas
Pillow
PyMuPDF 
lxml 
google-api-python-client 
google-auth-oauthlib
google-auth-httplib2
gspread
openai 
tweepy
openpyxl 
selenium
webdriver_manager